<h1>Categories</h1>

<a href="/category/new">Add Category</a>

<ul>
<% categories.forEach(cat=>{ %>
<li>
<a href="/category/<%=cat.id%>">
<%=cat.name%>
</a>
</li>
<% }) %>
</ul>

<a href="/item/new">Add Item</a>
